@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

/* header */

header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    margin: 0px 198px;
    padding-bottom: 76px;
}

/* navbar */
.brand{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-style: italic;
    font-size: 2.25rem;
    font-weight: 700;
    text-align: left;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu{
    display: none;
}

.nav-links{

    border: 0.001px solid rgba(245, 245, 245, 0.11);
    border-radius: 45px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-family: Inter;
}

.btn-nav{
    background-color: rgb(230, 83, 60);
    border-radius: 45px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.125rem;
    padding: 8px 20px;
}


.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.nav-item{
    list-style: none;
    margin-right: 47px;
    font-size: 1.125rem;
}



/* shared styles */
.display-flex{
    display: flex;
}

/* body */

.body-color {
    background-color: black;
    color: white;
}

/* banner */

.miama{
    font-family: miama;

}
.btn-download{
    height: 50px;
    width: 210px;
    border-radius: 45px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 600;
    border: 0.01px solid white;
    background-color: unset;
}

.btn-join{
    height: 50px;
    width: 210px;
    border-radius: 45px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    margin-right: 10px;

}

.banner{
    justify-content: space-between;
}

.banner-content{
    max-width: 580px;
    margin-bottom: 20px;
}

.banner-content h1{
    font-size: 75px;
    line-height: 120%;
    font-weight: 900;
    margin-bottom: 25px;
}

.banner-content p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 25px;

}


.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* change-section */
main{
    margin: 0 198px;
    background-color: black;
}

.Change-heading{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;

}

.Change-details{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 58px;
}

.circles{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle-style{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circle-style img{
    border-radius: 50%;
}

.circle-style h5{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;

}

.circle-style p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 58px;
}


/* run section  */

.run{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 330px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin: 0 auto;
    padding: 40px;
    margin-top: 60px;
}
.run img{
    border-radius: 18px;
    width: 33.33%;
    height: 100%;
    object-fit: cover;
}
.run-text{
    color: rgb(255, 255, 255);
    width: 35%;
}
.run-text>h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    }

.run-text>p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
}

.run-join{
    height: 50px;
    width: 210px;
    border-radius: 45px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 600;
    background-color: rgb(230, 83, 60);
    margin-right: 10px;
}

/* meet our team section */

.meet-heading{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.meet-details{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 58px;
}

.meet-img{
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.img-container{
    position: relative;
    border-radius: 20px;
    overflow: hidden; 
}

.img-container img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trainer-name{
    position: absolute;
    bottom: 35px; 
    left: 15px;
    color: white;
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 900;
    padding: 5px 10px;
    border-radius: 5px;
}

.trainer{
    position: absolute;
    bottom: 15px; 
    left: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
}

/* footer section */

footer{
    background: rgba(255, 255, 255, 0.1);
    margin-top: 90px;
}

.footer-container{
    display: flex;
    justify-content: center;
}

.footer-section{
    display: flex;
    width: 1150px;
    justify-content: space-between;
    margin-top: 20px;
}
.left-part{
    width: 40%;
}
.left-part h2{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-style: italic;
    font-size: 4.375rem;
    font-weight: 700;
    text-align: left;
    margin-top: 70px;
    margin-bottom: 20px;
}
.left-part p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 152px;
}

.right-part{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
}

.right-part-menu{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    text-align: left;
}

.copyright{
    margin: 0 198px;
}

.copyright hr{
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.copyright-text{
    margin-top: 35px;
    padding-bottom: 35px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}


/* Responsive section */

@media (max-width: 576px){


.nav-links{
    display: none;
}    

.hamburger-menu {
    width: 30px; 
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.hamburger-menu .bar {
    height: 4px;
    width: 100%; 
    background-color: white; 
    border-radius: 2px; 
}

.banner{
    flex-direction: column;
}

.banner-btn{
    display: flex;
}

header{
    margin: auto;
}

main{
    margin: auto;
}

footer{
    padding-left: 20px;
}

.copyright{
    margin: auto;
}

.run{
    flex-direction: column;
    height: 660px;
    padding: 0;
    gap: 30px;
}

.run img{
    width: 90%;
    height: 50%;
    padding-left: 20px;
    padding-bottom: 20px;
}

.run-text{
    width: 90%;
    padding-left: 20px;
}

.circles{
    flex-direction: column;
    justify-content: center;
}

.meet-img{
    grid-template-columns: repeat(1, 1fr);

}

.footer-section{
    flex-direction: column;
}

}